{
.appVersion = "3200";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
customParameters = (
{
name = "Color Palettes";
value = (
(
(255,0,0,255),
(51,168,0,255)
)
);
}
);
date = "2023-03-05 11:23:11 +0000";
familyName = "Resolution Display ";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
fontMaster = (
{
axesValues = (
800
);
iconName = SemiBold;
id = m01;
metricValues = (
{
over = 16;
pos = 600;
},
{
over = -16;
}
);
name = Black;
stemValues = (
100
);
userData = {
GSOffsetHorizontal = 25;
GSOffsetMakeStroke = 1;
GSOffsetPosition = 0;
GSOffsetVertical = 30;
};
},
{
axesValues = (
900
);
iconName = Bold;
id = m002;
metricValues = (
{
over = 16;
pos = 600;
},
{
over = -16;
}
);
name = Full;
stemValues = (
0
);
}
);
instances = (
{
axesValues = (
800
);
instanceInterpolations = {
m01 = 1;
};
name = Black;
weightClass = 800;
widthClass = 7;
},
{
axesValues = (
900
);
instanceInterpolations = {
m002 = 1;
};
name = Full;
weightClass = 900;
widthClass = 9;
}
);
kerningLTR = {
m01 = {
F = {
J = -80;
};
L = {
A = -25;
C = -25;
};
T = {
A = -25;
};
};
};
metrics = (
{
type = "cap height";
},
{
type = baseline;
}
);
stems = (
{
name = "Single Width";
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
m01 = {
};
};
GSDontShowVersionAlert = 1;
"com.hugojourdan.ColorFlow-Report_Data" = {
m002 = {
A = None;
B = None;
C = None;
D = None;
E = None;
F = None;
G = None;
H = None;
I = None;
J = None;
K = None;
L = None;
M = None;
N = None;
O = None;
P = None;
Q = None;
R = None;
R.old = None;
S = None;
T = None;
U = None;
V = None;
W = None;
X = None;
Y = None;
Z = None;
eight = None;
five = None;
four = None;
nine = None;
one = None;
seven = None;
six = None;
space = None;
three = None;
two = None;
zero = None;
};
m01 = {
A = None;
B = None;
C = None;
D = None;
E = None;
F = None;
G = None;
H = None;
I = None;
J = None;
K = None;
L = None;
M = None;
N = None;
O = None;
P = None;
Q = None;
R = None;
R.old = None;
S = None;
T = None;
U = None;
V = None;
W = None;
X = None;
Y = None;
Z = None;
eight = None;
five = None;
four = None;
nine = None;
one = None;
seven = None;
six = None;
space = None;
three = None;
two = None;
zero = None;
};
};
"com.hugojourdan.ColorFlow-currentFont" = "<null>";
"com.hugojourdan.ColorFlow-export" = "<null>";
"com.hugojourdan.ColorFlow-master-data" = {
m002 = {
"0" = 0;
"1" = 0;
"10" = 0;
"11" = 0;
"2" = 0;
"3" = 0;
"4" = 0;
"5" = 0;
"6" = 0;
"7" = 0;
"8" = 0;
"9" = 0;
};
m01 = {
"0" = 0;
"1" = 0;
"10" = 0;
"11" = 0;
"2" = 0;
"3" = 0;
"4" = 0;
"5" = 0;
"6" = 0;
"7" = 0;
"8" = 0;
"9" = 0;
};
};
"com.hugojourdan.ColorFlow-selectedLayer" = 0;
"com.hugojourdan.ColorFlow-selectedLayer-data" = "<null>";
};
versionMajor = 1;
versionMinor = 0;
}
